<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 里面是 mapper 接口的类名完整路径-->
<mapper namespace="com.example.demo.dao.UserMapper">
    <resultMap id="BaseMap1" type="com.example.demo.model.User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="is_admin" property="isAdmin"></result>
    </resultMap>

    <resultMap id="BaseMap2" type="com.example.demo.model.UserSubmitCode">
        <id column="user_id" property="userId"></id>
        <result column="problem_id" property="problemId"></result>
        <result column="submit_code" property="submitCode"></result>
        <result column="is_pass" property="isPass"></result>
    </resultMap>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.demo.model.User">
        insert into user(id, username, password) values (null, #{username}, #{password})
    </insert>


    <!--    读取用户提交的代码-->
    <select id="selectByName" resultMap="BaseMap1">
        select id, username, password, is_admin from user where username = #{username}
    </select>

    <!--    保存用户提交的代码-->
    <insert id="saveUserSubmitCode">
        replace  into user_submit_code(user_id, problem_id, submit_code)
        values
        (#{userId}, #{problemId}, #{submitCode})
    </insert>

    <!--    删除用户提交的代码以及通过状态-->
    <delete id="deleteUserSubmitCode">
        delete from user_submit_code where user_id = #{userId} and problem_id = #{problemId}
    </delete>

    <!-- 查看用户指定题目的状态 -->
    <select id="getLastSubmitCode" resultType="java.lang.String">
        select submit_code from user_submit_code where user_id = #{userId} and problem_id = #{problemId}
    </select>

    <!-- 修改用户指定题目的状态 -->
    <select id="isPass" resultType="java.lang.Integer">
        select is_pass from user_submit_code where user_id = #{userId} and problem_id = #{problemId}
    </select>

    <select id="getAllUsers" resultMap="BaseMap1">
        select id, username, password, is_admin from user;
    </select>

    <update id="setPass">
        update user_submit_code set is_pass = 1 where user_id = #{userId} and problem_id = #{problemId}
    </update>
</mapper>